{% load static %}
<header class="border-b border-gray-300 fixed top-0 left-0 z-50 w-full py-1 bg-white">
    <div class="w-full max-w-[1400px] mx-auto px-4">
        <div class="flex items-center justify-between">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo/taskbuddy.jpg' %}" alt="logo" srcset="" class="w-24">
            </a>
            <nav>
                <ul class="flex items-center space-x-12">
                    <li>
                        <a href="{% url 'home'%}" class="text-gray-700 hover:text-[#009193] text-lg">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about'%}" class="text-gray-700 hover:text-[#009193] text-lg">About</a>
                    </li>
                    <li>
                        <a href="{% url 'projects'%}" class="text-gray-700 hover:text-[#009193] text-lg">My Projects</a>
                    </li>
                </ul>
            </nav>
            <div class="flex items-center space-x-3">
                <a href="{% url 'login'%}" class="bg-white text-[#009193] px-4 py-2 rounded-sm shadow-sm border border-[#009193]">Login</a>
                <a href="{% url 'signup'%}" class="bg-[#009193] text-white px-4 py-2 rounded-sm">Sign Up</a>
            </div>
        </div>
    </div>
</header>