<div class="w-40 h-full border-r border-gray-200 flex items-center justify-evenly flex-col">
    <a href="{% url 'projects' %}" class="p-4 w-full h-40 flex flex-col items-center justify-center hover:border-r border-[#009193] group cursor-pointer">
        <i class='bx bx-grid-alt text-6xl text-gray-300 group-hover:text-[#009193]'></i>
        <p class="text-xs text-gray-600 font-light group-hover:text-[#009193]">My Projects</p>
    </a>
    <a href="{% url 'colleagues' %}" class="p-4 w-full h-40 flex flex-col items-center justify-center border-r border-[#009193] group cursor-pointer">
        <i class='bx bx-user-pin text-6xl text-[#009193]'></i>
        <p class="text-xs font-light text-[#009193]">My Colleague</p>
    </a>
    <a href="{% url 'tasks' %}" class="p-4 w-full h-40 flex flex-col items-center justify-center hover:border-r border-[#009193] group cursor-pointer">
        <i class='bx bx-task text-6xl text-gray-300 group-hover:text-[#009193]'></i>
        <p class="text-xs text-gray-600 font-light group-hover:text-[#009193]">My Tasks</p>
    </a>
</div>