{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pt-20">
   <div class="w-full h-[650px] max-w-[1400px] mx-auto px-4">
        <div class="w-full h-full flex items-center space-x-4">
            
            <div class="w-40 h-full border-r border-gray-200 flex items-center justify-evenly flex-col">
                <div class="p-4 w-full h-40 flex flex-col items-center justify-center hover:border-r border-[#009193] group cursor-pointer">
                    <i class='bx bx-grid-alt text-6xl text-gray-300 group-hover:text-[#009193]'></i>
                    <p class="text-xs text-gray-600 font-light group-hover:text-[#009193]">Projects</p>
                </div>
                <div class="p-4 w-full h-40 flex flex-col items-center justify-center hover:border-r border-[#009193] group cursor-pointer">
                    <i class='bx bx-user-pin text-6xl text-gray-300 group-hover:text-[#009193]'></i>
                    <p class="text-xs text-gray-600 font-light group-hover:text-[#009193]">Colleague</p>
                </div>
                <div class="p-4 w-full h-40 flex flex-col items-center justify-center hover:border-r border-[#009193] group cursor-pointer">
                    <i class='bx bx-task text-6xl text-gray-300 group-hover:text-[#009193]'></i>
                    <p class="text-xs text-gray-600 font-light group-hover:text-[#009193]">My Tasks</p>
                </div>
            </div>
            <div>

                <div>

                </div>

                <div>
                    
                </div>

            </div>
        </div>
   </div>
</div>
{% endblock %}